.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 128);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logoM{
    width: 80px;
    height: 50px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 27px;
}